body {
    margin: 0;
    font-family: Arial;
    background: #0e0e0e;
    color: white;
}

/* SCREENS */
.screen {
    min-height: 100vh;
    padding: 20px;
}

.hidden {
    display: none;
}

/* LOGO */
.logo {
    text-align: center;
    font-size: 42px;
}

.logo span {
    color: #00ffcc;
}

/* CATEGORIES */
.categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 30px;
}

.folder {
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}

.folder:hover {
    transform: scale(1.05);
}

.folder img {
    width: 100%;
    border-radius: 10px;
}

/* LOCK */
.locked {
    opacity: 0.5;
    filter: grayscale(1);
}

/* BACK BUTTON */
.back {
    background: #00ffcc;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

/* CARD */
.card {
    background: #1c1c1c;
    padding: 10px;
    border-radius: 10px;
}

video {
    width: 100%;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    background: #00ffcc;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}